*{
	box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #fafafa;/*#faf0ee*/
  box-sizing: border-box;	
  font-family: "PT Serif", Georgia,serif;
  color:#111;
  font-size: 16px;
}


/*Containers*/
/*--------------------------------------------------*/
div{
	padding-bottom: 0 !important;
}

.content{
	min-width: 25rem;
	max-width: 36rem;
	margin:0 auto;
	padding:5.4rem 0.6rem 0rem;
	counter-reset: figure;
}

.content > .content{
	min-width: 100%;
	max-width: 100%;
	margin:0;
	padding:0;
	padding-top: 5.4rem;
	border-bottom: dotted 2px #999;
}


.content:before,
.content:after {
	content: " ";
	display: table;
}

.content:after {
	clear: both;
}
.sidenote{
    padding:0.3rem 0.6rem 0.6rem;
    line-height: 1.2em;
    font-size: 0.875em ;
    list-style-position: inside;
}

/*Table of contents*/
.toc{text-align: center !important;
	font-size: 0.875rem !important; 
	padding-left: 2rem !important; 
	padding-top: 0.8rem !important;
	width: 16rem !important; 
	margin-bottom: 3rem;
}
.toc:before{font-size: 0.875rem; font-weight:bold; content: "Table of Contents";}


.meta {
	width: 20.6rem;
    padding:0.3rem 0.6rem 0rem 0.4rem;
    line-height: 1.2em;
    font-size: 0.875em;
    text-align: right;
    list-style-position: inside;
        color: #666;
}

.wide{
margin-right: -0.5rem;
margin-left: -0.5rem;
}

.framed {
	margin-right:-0.5rem ;
	margin-left: -0.5em;
	padding: 0.6rem 1rem;
	border: 1px solid #E9E9E9;
	background-color: #FDFDFD;
	margin-bottom: 1.4rem;
}

.sidenote.framed{
	margin-top: -0.3rem;
	padding-top: 0.6rem;
	width: 17.8rem;
}

.sidenote figure{
	margin-top: -0.3rem;
	padding-top: 0.6rem;
}

.sidenote p, .meta p{
    line-height: 1.2rem;
    font-size: 0.875rem ;
    margin-bottom: 1rem;
}

.sidenote pre, .meta pre,.sidenote code, .meta code{
	line-height: .875rem;
    font-size: 0.7rem ;
}

figure{
	min-width: 100%;
	margin-right:-0.5rem ;
	margin-left: -0.5em;
	padding: 0 !important;
	margin-bottom: 1.4rem;
}

.tags{
	width: 100%;
	color: #444;
}

.tags li{
	display:inline-block;
}

.tofloatRight{
	width: 100%;
	margin-bottom: 2rem;
}


/*stycky footer hack*/
.page {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -8.4rem;
  border: none;
  text-align: left;
}
.page:after {
  content: "";
  display: block;
  /*border-bottom: dashed 1px blue;*/
}

.footer,.page:after{
  height: 8.4rem; 
}
.footer{
	position: relative;
	/*background: #cf0;*/
	overflow: hidden;
	padding-top: 3rem;
	border-top: solid 2px #333;
}

/*head nav*/

.head{
	padding-right:  0.6rem !important; 
}
.head li{
	display: inline-block;
	padding-right:  0.5rem; 
	padding-left:  0.5rem; 
	border-left: solid 2px #666;
}
main{
	margin-bottom: 4.2rem !important;
}



/*flex grid system from solved by flexbox (Philip Walton)--------------------------------*/

.flexible{
	display: flex;
	margin: 0 -0.6rem;
	padding: 0 !important;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flexable{
	flex: 1;
	/*background-color: #cf0;*/
	margin: 0;
	padding: 0 0.6rem;
	margin-right: 0.6rem;
	margin-bottom: 1.4rem;
	/*list-style-position: inside;*/

}



.flexible.framed{
	margin-top: -0.3rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;	
	margin-bottom: 1.4rem;
}

.flexable.framed{
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}


.f100{
	flex: 0 0 100%;
}
.f50{
	flex: 1 0 45%;
}
.f33{
	flex: 1 0 30%;
}
.f25{
	flex: 1 0 22%;
}

/* Alignment per cell */
.attop {
  align-self: flex-start;
}
.atbottom {
  align-self: flex-end;
}
.atcenter {
  align-self: center;
}


/*---------------------------*/

/* Typography
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Headings
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
	/*font-size: 2.2rem ;*/
	font-size:1.4rem;

}
h2 {
	/*font-size: 1.4rem ;*/
	font-size:1.2rem;

}
h3 {
	/*font-size: 1.4rem ;*/
	font-size:1.1rem;

}
h4 {
	/*font-size: 1.4rem ;*/
	font-size:1rem;

}
h1,h2, h3, h4, dt, .toc:before{
			font-family: "Montserrat", Helvetica, Arial, sans-serif;
			margin-top: 0;
			font-weight: normal;
		}
h1, h2 {margin-bottom: 1.2rem;}
h3, h4 {margin-bottom: 0.8rem;}

hr{
	border-width: 1px;
	border-color: black;
	margin-right: -0.5rem;
	margin-left: -0.5rem;
	margin-bottom: 1.4rem;
}

/* Phrasing content
/*___________________________________________________________________________________*/
p,pre{font-size: 1rem;line-height: 1.5rem;margin-top: 0; margin-bottom: 1.4rem;}
	/* ins/del */
ins {border-bottom: 1px dotted #47ad09; text-decoration: none;} /* ref .changed-block */
del {text-decoration: line-through; color: #777;}
sup {line-height: 0;}

/* Links: replicate underline that clears descenders 
from  Dave Liepmann Tuftee CSS Copyright (c) 2014
https://github.com/edwardtufte/tufte-css
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a:link, a:visited { color: inherit; }


a:link { text-decoration: none;
         background: linear-gradient(#fafafa, #fafafa), linear-gradient(#fafafa, #fafafa), linear-gradient(#333, #333);
         background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-repeat: no-repeat, no-repeat, repeat-x;
         text-shadow: 0.03em 0 #fafafa, -0.03em 0 #fafafa, 0 0.03em #fafafa, 0 -0.03em #fafafa, 0.06em 0 #fafafa, -0.06em 0 #fafafa, 0.09em 0 #fafafa, -0.09em 0 #fafafa, 0.12em 0 #fafafa, -0.12em 0 #fafafa, 0.15em 0 #fafafa, -0.15em 0 #fafafa;
         background-position: 0% 93%, 100% 93%, 0% 93%;}

@media screen and (-webkit-min-device-pixel-ratio: 0) { a:link { background-position-y: 90%, 90%, 90%; } a:hover{border-bottom:dotted 3px #8E44AD;}

/*a:link::selection { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;*/
                    /*background: #b4d5fe; }*/
a:hover{
	/*text-shadow: 0.03em 0 #8E44AD, -0.03em 0 #8E44AD, 0 0.03em #8E44AD, 0 -0.03em #8E44AD, 0.06em 0 #8E44AD, -0.06em 0 #8E44AD, 0.09em 0 #8E44AD, -0.09em 0 #8E44AD, 0.12em 0 #8E44AD, -0.12em 0 #8E44AD, 0.15em 0 #8E44AD, -0.15em 0 #8E44AD;*/
    /*background: #8E44AD;*/
	border-bottom:dotted 3px #8E44AD;

}

/*Lists*/
ol, ul, dl {padding: 0 0.6rem; line-height: 1.2rem;list-style-position: outside;}
ul ul {list-style-type: circle;}
li ul, li ol, li dl {margin-left: 1.3rem;}
.semantic{list-style-type: none; line-height: inherit;}	

.toc ol {list-style-type: none; counter-reset: item; padding: 0.3rem 1rem; text-align:left; line-height: 1.2rem;}
.toc ol > li:before {margin-left: -1rem; padding-right: 0.3rem; content: counters(item, ".") ". "; counter-increment: item;}
.toc ul {list-style-type: none; counter-reset: item; padding: 0.3rem 1rem; text-align:left; line-height: 1.2rem;}
.toc ul > li:before {margin-left: -1rem; padding-right: 0.3rem; content: counters(item, ".") ". "; counter-increment: item;}

/* Tables from Skeleton CSS http://getskeleton.com/
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table{width: 100%; text-align: center; margin-bottom: 1.4rem; border-collapse:collapse;}

th,
td {
  font-size: 0.875rem;
  padding: 1rem 0.9rem;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }
th{padding-bottom: 0.3rem;}

/* blockquotes from tuftee.css
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Chapter Epigraphs */
blockquote {margin:0 0 1.4rem; line-height: 1.4rem; padding: 1.4rem 3rem 0 !important;}
blockquote > footer { font-style: normal; }
blockquote > footer > cite { font-style: italic; }
blockquote p:before { content:"     ";}
blockquote footer { width: 90%;
                    text-align: right; }

q {quotes: '“' '”' '‘' '’' '“' '”' '‘' '’';}

/* over-specified due to webkit bugs #6503 & #3234 */
q:before {content: '“'; content: open-quote;}
q:after {content: '”'; content: close-quote;}
q q:before {content: '‘'; content: open-quote;}
q q:after {content: '’'; content: close-quote;}
q q q:before {content: '“'; content: open-quote;}
q q q:after {content: '”'; content: close-quote;}
	/* blockquotes */
blockquote q:before {content: '‘'; content: open-quote;}
blockquote q:after {content: '’'; content: close-quote;}
blockquote q q:before {content: '“'; content: open-quote;}
blockquote q q:after {content: '”'; content: close-quote;}
		/* hanging opening quote */
blockquote:before {display: block; height: 0; content: "“"; margin-left: -.5em; font: italic 2em/.8125 Baskerville,Georgia,"Times New Roman",serif; color: #999;}

/*Heading style text*/
.hlike{
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		margin-top: 0;
		font-weight: normal;
}
.h1like{font-size:1.4rem;}
.h2like{font-size:1.2rem;}
.h3like{font-size:1.1rem;}
.h1like, .h2like {display: block;margin-bottom: 1.2rem;}
.h3like, .h4like {display: block;margin-bottom: 0.8rem;}

	.hlike a:link{
         background: none;
         text-shadow: none;

	}
		.hlike a:hover{
         background-color: #cf0;
         border:none;


	}





/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img { max-width: 100%;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.6rem;
	}

p img {display: inline; padding: 0 .25em; vertical-align: middle;}


figcaption { padding: 0.6rem 1rem 0 !important;
	margin:0 !important;
     }

.fig-counter>p:before{
	font-weight: bold;
	counter-increment: figure;  
	content: "Figure " counter(figure) ". "; /* Display the counter */
}


/* Code from oli.jp
–––––––––––––––––––––––––––––––––––––––––––––––––– */
pre, code, samp, kbd, var { white-space: pre; word-wrap: break-word; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: -pre-wrap; white-space: -hp-pre-wrap; white-space: pre-wrap;} /* http://perishablepress.com/press/2010/06/01/wrapping-content/ */
code, samp, kbd, var {background-color: #f7f7e7;font-size: 0.9rem;}
code, samp, kbd, var {margin: 0 .2rem; } /* 14px/20px; matches 24px line-height every 6 lines */
code samp, code kbd, code var {font-size: 1rem; line-height: 1.5;}
kbd {padding: 1px 2px; border: 1px solid #ddd;}
a kbd {-webkit-transition: border-bottom-color .2s ease-in; -moz-transition: border-bottom-color .2s ease-in; -o-transition: border-bottom-color .2s ease-in; transition: border-bottom-color .2s ease-in;}
a:hover kbd, a:active kbd, a:focus kbd {background-color: transparent; border: 1px solid transparent; border-bottom-color: #444;}
code b, code strong, code mark {font-weight: bold;}
mark{background-color: #cf0;}/*#D5DF59*/

.highlight,pre {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
}
.highlight>pre,
pre > code {
		font-size: 0.75rem;
		display: block;
		 margin-right:-0.5rem ;
		 margin-left: -0.5em;
		 padding: 0 0.6rem;
         border: 1px solid #E9E9E9;
  	   border-radius: 4px; 
  	   background-color: #f7f7e7;
}

pre.wide code{
	margin-left: 0;
	margin-right: 0;
}


/*Alignment and floating*/

.rigth{
	text-align: right;
}
.center{
	text-align: center;
}
.left{
	text-align: left;
}
.dim{
	color: #666;
}


.tofloat{
float: left;
/*border: solid 1px black;*/
/*clear: left;*/
}

.toCenter{
	margin:1.4rem auto 2.4rem;
/*	text-align: center;*/

}

.hzline{
	background: linear-gradient(to right,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
    height: 1px;
    margin: 2.5em 0;
    text-align: center;

}
.hzline:after{
	text-align: center;
	content: "* * *";
	color:#ccc;
	font-size: 0.5rem;	
}

.vtline{
	top:0;
	left:  ;
	position: absolute;
    bottom: 0;
    width: 18rem;
    border:dashed 1px #666;
    z-index: 1;
}

.bar{
	padding-top: 0; border-top: solid 3px #111;
}

/*Media queries-------------------------------------------------------*/

@media only screen and (min-width: 769px) {
	html,body{
		font-size: 17px;
	}
}

@media (min-width: 732px) { /*732px*/
	.content{
		max-width: 54.85rem;
		padding-right: 18.6rem;
	}

	.content > .content{
	max-width: none;
	padding-right:0;
}
	.sidenote{
    float: right;
    width: 18rem;
    word-wrap: break-word;
    margin: 0 -18.5rem 1.4rem 0;
    clear: right;
	}
	.toc{
	box-shadow:  -15px 0px 60px 25px #fafafa inset, 5px 0px 10px -5px #000000 inset;
	border-left:solid 1px #888;
    float: right;
	clear: right;
	}
	div.toc{
		float: right;
    width: 18rem;
    word-wrap: break-word;
    margin: 0 -18.5rem 1.4rem 0;
    clear: right;
	
	}
	.wide{
		margin-right: -18.5rem;
	}

	.flexible{
	margin-bottom: 0.6rem; 
	}

	.flexible + .flexible {
	margin-top: -1.4rem;
/*	margin-bottom: 0; */
	}

	.fit{
	flex: 1;
	margin: 0 ;
	padding-top: 0.6rem;
	margin-right: 0.6rem;
	margin-bottom: 1.4rem; 
	}

	h1 {font-size: 2.2rem ;}
	h2 {font-size: 1.4rem ;}
	h3 {font-size: 1.2rem ;}
	h4 {font-size:1rem;}

	.h1like{font-size:2.2rem;}
	.h2like{font-size:1.4rem;}
	.h3like{font-size:1.2rem;}


	.tofloatRight:before,
	.tofloatRight:after {
		content: " ";
		display: table;
	}

	.tofloatRight:after {
		clear: both;
	}

	.toCenter{
	margin:1.4rem auto 2.4rem;
	text-align: center;

	}



}

@media (min-width: 1292px) {

	.meta {
    float: left;
    width: 10rem;
    word-wrap: break-word;
    margin: 0 0 1.4rem -10.6rem;
    clear: left;

	}
	.tags li{
		display:block;
	}

	.social li{
		display:inline-block;
	}
	.tofloatRight{
	float: right;
	}

}

/*This is for the toggle nav*/
		  h3.menu-link {
          display: block;
          margin: 0.6rem 0 0;
          text-align: center;
      }

      nav[role=navigation] {
        clear: both;
        -webkit-transition: all 0.3s ease-out;  
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
      nav[role=navigation] {
        overflow: hidden;
        max-height: 0;
      }
      nav[role=navigation].active {
        max-height: none;
        overflow: auto;
      }
      nav[role=navigation] ul {
        margin: 3px 0;
        padding: 0;
        text-align: center;
        word-wrap: break-word;
      }













