
.content{
	max-width: 600px;
	margin:0 auto;
	border:solid 3px;
	padding: 0.6em;
}
.push{
	margin-bottom: 0px; /* this should be equal to .page margin button - to .main margin-top*/
}



.wrapper{
	border:solid 3px;
	text-align: center;
}

.page {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;/* this equals -(.footet, page:after{heigth} + .main{margin-top})*/
  border: none;
  text-align: left;

}  

.masthead{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 200px;
	max-width: 25%;
	background-color: #eee;
	z-index: 1000;
}

.head{
}

.main, .aside, .bottom{
	margin-left: 25%;
}

.main{
	padding-top: 100px;
}

.wrapp_around{
	display: flex;
	justify-content: space-around;
}


/*-----Sticky footer hack---*/
html, body {
  height: 100%;
  margin: 0;
}


.page:after {
  content: "";
  display: block;
  /*border-bottom: dashed 1px blue;*/
}

.footer,.page:after{
  height: 100px; /*calculate the height + .main{margin-top}*/
}

.footer{
	position: relative;
	background: #cf0;

}

.top{
	height:100px;
	background: #cf0;

}

.bottom{
	position: absolute; 
	top: 0; 
	right: 0; 
	left: 0;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}



/*---------------------------*/
