*{
	box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #fafafa;
  box-sizing: border-box;	
  font-family: "Baskerville", Helvetica, Arial, sans-serif;
  color:#111;
  font-size: 20px;
}



.content{
	max-width: 54.85rem;
	margin:0 auto;
	/*border:solid 1px;*/
	padding:0.6rem;
	padding-right: 18.6rem;
}

.wrapper{
	text-align: center;
}

.page {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;/* this equals -(.footet, page:after{heigth} + .main{margin-top})*/
  border: none;
  text-align: left;
}  

.main{
	padding-top: 1.5rem;
	padding-bottom: 1.4rem; 
	counter-reset: figure;

}
.main:after {
  content: "";
  display: table;
  clear: both;
}


/*-----Sticky footer hack---*/


.page:after {
  content: "";
  display: block;
  /*border-bottom: dashed 1px blue;*/
}

.footer,.page:after{
  height: 100px; /*calculate the height + .main{margin-top}*/
}

.footer{
	position: relative;
	/*background: #cf0;*/

}

.top{
	height:3px;
}
.top:after{
	content: "";
	border-bottom: : solid 1px black;
}

.bottom{
	position: absolute; 
	top: 0; 
	right: 0; 
	left: 0;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}



/*---------------------------*/

/* Typography
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Headings
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {font-size: 2.2rem ;}
h2 {font-size: 1.4rem ;}
h1,h2, h3, h4, dt, .toc:before{
			font-family: "Montserrat", Helvetica, Arial, sans-serif;
			margin-top: 0;
		}
h1, h2 {margin-bottom: 1.2rem;}
h3, h4 {margin-bottom: 0.8rem;}

p,pre{font-size: 1rem;line-height: 1.5rem;margin-top: 0; margin-bottom: 1.4rem;}
	/* ins/del */
ins {border-bottom: 1px dotted #47ad09; text-decoration: none;} /* ref .changed-block */
del {text-decoration: line-through; color: #777;}
sup {line-height: 0;}
hr{
	border-width: 1px;
	border-color: black;
	margin-right: -0.5rem;
	margin-left: -0.5rem;
	margin-bottom: 1.4rem;
}

/* Links: replicate underline that clears descenders 
from  Dave Liepmann Tuftee CSS Copyright (c) 2014
https://github.com/edwardtufte/tufte-css
–––––––––––––––––––––––––––––––––––––––––––––––––– */


a:link, a:visited { color: inherit; }


a:link { text-decoration: none;
         background: linear-gradient(#fafafa, #fafafa), linear-gradient(#fafafa, #fafafa), linear-gradient(#333, #333);
         background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-repeat: no-repeat, no-repeat, repeat-x;
         text-shadow: 0.03em 0 #fafafa, -0.03em 0 #fafafa, 0 0.03em #fafafa, 0 -0.03em #fafafa, 0.06em 0 #fafafa, -0.06em 0 #fafafa, 0.09em 0 #fafafa, -0.09em 0 #fafafa, 0.12em 0 #fafafa, -0.12em 0 #fafafa, 0.15em 0 #fafafa, -0.15em 0 #fafafa;
         background-position: 0% 93%, 100% 93%, 0% 93%;}

@media screen and (-webkit-min-device-pixel-ratio: 0) { a:link { background-position-y: 87%, 87%, 87%; } }

a:link::selection { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
                    background: #b4d5fe; }
a:hover{
	border-bottom:dashed 2px #8E44AD;
}

/* lists and TOC from oli.jp*/
ol, ul, dl {padding: 0 0.6rem; line-height: 1rem;list-style-position: outside;}
ul ul {list-style-type: circle;}
li ul, li ol, li dl {margin-left: 1.3rem;}
.semantic-list {list-style-type: none;}	
/* Table of contents */
.toc{text-align: center !important;
	font-size: 1rem !important; 
	box-shadow:  -15px 0px 60px 25px #fafafa inset, 5px 0px 10px -5px #000000 inset;
	border-left:solid 2px black; 
	padding-left: 2rem !important; 
	padding-top: 1.4rem !important;
	width: 16rem !important; 
	float: right;
	clear: right;}
.toc:before{font-size: 1rem; font-weight:bold; content: "Table of Contents";}
.toc ol {list-style-type: none; counter-reset: item; padding: 0.3rem 1rem; text-align:left; line-height: 1.2rem;}
.toc ol > li:before {margin-left: -1rem; padding-right: 0.3rem; content: counters(item, ".") ". "; counter-increment: item;}


/* Tables from Skeleton CSS http://getskeleton.com/
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table{width: 100%; text-align: center; margin-bottom: 1.4rem; border-collapse:collapse;}

th,
td {
  font-size: 0.875rem;
  padding: 1rem 0.9rem;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }
th{padding-bottom: 0.3rem;}

/* blockquotes from tuftee.css
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Chapter Epigraphs */
blockquote {margin:0 0 1.4rem; line-height: 1.4rem; padding: 1.4rem 3rem 0 !important;}
blockquote > footer { font-style: normal; }
blockquote > footer > cite { font-style: italic; }
blockquote p:before { content:"     ";}
blockquote footer { width: 90%;
                    text-align: right; }

q {quotes: '“' '”' '‘' '’' '“' '”' '‘' '’';}

/* over-specified due to webkit bugs #6503 & #3234 */
q:before {content: '“'; content: open-quote;}
q:after {content: '”'; content: close-quote;}
q q:before {content: '‘'; content: open-quote;}
q q:after {content: '’'; content: close-quote;}
q q q:before {content: '“'; content: open-quote;}
q q q:after {content: '”'; content: close-quote;}
	/* blockquotes */
blockquote q:before {content: '‘'; content: open-quote;}
blockquote q:after {content: '’'; content: close-quote;}
blockquote q q:before {content: '“'; content: open-quote;}
blockquote q q:after {content: '”'; content: close-quote;}
		/* hanging opening quote */
blockquote:before {display: block; height: 0; content: "“"; margin-left: -.5em; font: italic 2em/.8125 Baskerville,Georgia,"Times New Roman",serif; color: #999;}

/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img { max-width: 100%;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.6rem;
	}

p img {display: inline; padding: 0 .25em; vertical-align: middle;}


.framed{
		 margin-right:-0.5rem ;
		 margin-left: -0.5em;
		 padding: 0.6rem 1rem;
         border: 1px solid #E9E9E9;
         background-color: #FDFDFD;
         margin-bottom: 1.4rem;
}


div{
	padding-bottom: 0 !important;
}


figure{
	min-width: 100%;
	margin-right:-0.5rem ;
	margin-left: -0.5em;
	padding: 0 !important;
	margin-bottom: 1.4rem;
}

figcaption { padding: 0.6rem 1rem 0 !important;
	margin:0 !important;
     }

.fig-counter>p:before{
	font-weight: bold;
	counter-increment: figure;  
	content: "Figure " counter(figure) ". "; /* Display the counter */
}


/* Code from oli.jp
–––––––––––––––––––––––––––––––––––––––––––––––––– */
pre, code, samp, kbd, var { white-space: pre; word-wrap: break-word; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: -pre-wrap; white-space: -hp-pre-wrap; white-space: pre-wrap;} /* http://perishablepress.com/press/2010/06/01/wrapping-content/ */
code, samp, kbd, var {background-color: #f7f7e7;font-size: 0.9rem;}
code, samp, kbd, var {margin: 0 .2rem; } /* 14px/20px; matches 24px line-height every 6 lines */
code samp, code kbd, code var {font-size: 1rem; line-height: 1.5;}
kbd {padding: 1px 2px; border: 1px solid #ddd;}
a kbd {-webkit-transition: border-bottom-color .2s ease-in; -moz-transition: border-bottom-color .2s ease-in; -o-transition: border-bottom-color .2s ease-in; transition: border-bottom-color .2s ease-in;}
a:hover kbd, a:active kbd, a:focus kbd {background-color: transparent; border: 1px solid transparent; border-bottom-color: #444;}
code b, code strong, code mark {font-weight: bold;}
mark{background-color: #cf0;}

pre {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
}

pre > code {
		font-size: 0.875rem;
		display: block;
		 margin-right:-0.5rem ;
		 margin-left: -0.5em;
		 padding: 0 0.6rem;
         border: 1px solid #E9E9E9;
  	   border-radius: 4px; 
}
/*Sidenotes, Marginalia and meta*/



.sidenote.framed{
	margin-top: -0.3rem;
	padding-top: 0.6rem;
	width: 17.8rem;
}
.sidenote figure{
	margin-top: -0.3rem;
	padding-top: 0.6rem;

}

/*p:before{
    content: '.';
    visibility: hidden;
    height: 0;
    display: block;
}*/
.sidenote{
	/*position: relative;*/
    float: right;
    width: 18rem;
    word-wrap: break-word;
    margin: 0 -18.5rem 1.4rem 0;
    padding:0.3rem 0.6rem 0.6rem;
    line-height: 1.2em;
    font-size: 0.875em ;
    clear: right;
    list-style-position: inside;

}



pre.wide code{
	margin-left: 0;
	margin-right: 0;
}

.wide{
margin-right: -18.5rem;
margin-left: -0.5rem;
}




.meta {
    float: left;
    width: 10rem;
    word-wrap: break-word;
    margin: 0 0 1.4rem -10.6rem;
    padding:0.3rem 0.6rem 0.6rem;
    line-height: 1em;
    font-size: 0.875em;
    text-align: right;
    clear: left;
    list-style-position: inside;
}




.sidenote p, .meta p{
    line-height: 1rem;
    font-size: 0.875rem ;
    margin-bottom: 1rem;
}

.sidenote pre, .meta pre,.sidenote code, .meta code{
	    line-height: .875rem;
    font-size: 0.7rem ;

	}

.tofloat{
float: left;
border: solid 1px black;
/*clear: left;*/

}

.hzline{
	background: linear-gradient(to right,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
    height: 1px;
    margin: 2.5em 0;
    text-align: center;

}
.hzline:after{
	text-align: center;
	content: "* * *";
	color:#ccc;
	font-size: 0.5rem;	
}

/*.tofloat:after{
	content: " ";
	float: left;
}*/

/*aside + p{
	float: left;
}*/












