
/*.content{
	max-width: 600px;
	margin:0 auto;
	border:solid 3px;
}*/
.push{
	margin-bottom: 0px; /* this should be equal to .wrapper margin button*/
}

.wrapper{
	/*border:solid 3px;*/
	text-align: center;
}
.menu{
	display: inline-block;
	/*border: solid 2px blue;*/
}

.wrapp_around{
	display: flex;
	justify-content: space-around;
}


/*-----Sticky footer hack---*/
html, body {
  height: 100%;
  margin: 0;
}

.page {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
  border: none;
  text-align: left;
}
.page:after {
  content: "";
  display: block;
  /*border-bottom: dashed 1px blue;*/
}

.footer,.page:after{
  height: 100px; 
}
.footer{
	position: relative;
	background: #cf0;
	overflow: hidden;
}

.bottom{
	position: absolute; 
	bottom: 0; 
	right: 0; 
	left: 0;
}



/*---------------------------*/
